<configuration>
  <connectionStrings>
    <add name="connl" connectionString="server=127.0.0.1" providerName="mysql"/>
    <add name="conntest" connectionString="3333" providerName="sqlserver"/>

  </connectionStrings>
  <appSettings>
    <add key="Config:name" value="yzk"/>
    <add key="Config:age" value="18"/>
    <add key="Config:proxy.address" value="192.168.1.3"/>
    <add key="Config:proxy:port" value="5000"/>
    <add key="Config:proxy:ids:0" value="666"/>
    <add key="Config:proxy:ids:1" value="888"/>
  </appSettings>
</configuration>